:root {
  --color-primary: #1c4362;
  --white: #ffffff;
  --black: #000000;
  --content-size: 1rem;
  --active-menu-bg-light: #2d6286;
  --active-menu-bg-dark: #082238;
  --side-menu-size-expanded: 228px;
  --side-menu-size-collapsed: 67px;
  --sidemenu-margin: 12px;
  --sidemenu-items-padding: 1.6px 12px;
  --sidemenu-border-radius: 0.5rem;
  --active-sidemenu-border-color-light: #5b95ba;
  --active-sidemenu-border-color-dark: #134e79;
  --sidemenu-items-min-height: 48px;
  --hover-opacity: 1;
  --hover-brightness: brightness(0.9);
  --move-and-hide: move-and-hide 0s ease-out forwards;
  --move-and-show: move-and-show 0.3s ease-out forwards;
  --sidemenu-item-gap: 11.2px;
  --transition: all 0.3s ease-out;
  --logo-seperator-color-light: #728492;
  --header-size: 4rem;
  --tooltip-background-light: #ffffff;
  --tooltip-background-dark: #5b687b;
  --box-shadow-light: rgba(50, 50, 93, 0.25) 0rem 0.375rem 0.75rem -0.125rem,
    rgba(0, 0, 0, 0.3) 0rem 0.1875rem 0.4375rem -0.1875rem;
  --box-shadow-dark: rgb(255 255 255 / 14%);
  --dark-theme-background: #222831;
  --screen-background-dark: #111418;
  --grey-light: #898989;
  --grey-dark: #8d96a3;
  --grey-light-1: #535353;
  --grey-dark-1: #ffffff;
  --blue-light: #2a475c;
  --blue-dark: #a7c1d3;
  --red: #ff3939;
  --table-header-background-light: #40799d;
  --table-header-background-dark: #29303b;
  --table-odd-row-background-light: white;
  --table-odd-row-background-dark: #19202b;
  --table-even-row-background-light: #fbfbfb;
  --table-even-row-background-dark: #232933;
  --table-data-color-light: #2a475c;
  --table-data-color-dark: #ffffff;
  --scrollbar-track-bg-light: white;
  --scrollbar-track-bg-dark: #222831;
  --scrollbar-thumb-bg-light: #cdcdcd;
  --scrollbar-thumb-bg-dark: #576169;
  --scrollbar-thumb-hover-bg-light: #a0a0a0;
  --scrollbar-thumb-hover-bg-dark: #777;
  --border-color-light: #e0e0e0;
  --border-color-dark: #3d4859;
  --table-loading-table-bg-light: #ffffff;
  --table-loading-table-bg-dark: #20282f;
  --loading-bg-light-1: rgb(221, 221, 221);
  --loading-bg-dark-1: rgb(70, 80, 105);
  --loading-bg-light-2: rgb(243, 243, 243);
  --loading-bg-dark-2: rgb(103, 110, 121);
  --content-border-light: #eaeaea;
  --content-border-dark: #676767;
  --content-border-radius: 1rem;
  --theme-icon-color-light: #40799d;
  --theme-icon-color-dark: #a7c1d3;
  --theme-primary-text-light: var(--color-primary);
  --theme-primary-text-dark: #a7c1d3;
  --doc-attach-border-color-light: #56a7da;
  --doc-attach-border-color-dark: #424b52;
  --doc-attach-border-bg-light: #f6fcff;
  --doc-attach-border-bg-dark: #2c3440;
  --active-tab-bg-light: #40799d;
  --active-tab-bg-dark: #61708bb5;
  --tab-bg-light: #ffffff;
  --tab-bg-dark: #1b2430;
  --doc-image-bg-light: #ffffff;
  --doc-image-bg-dark: #384251;
  --input-bg-light: #ffffff;
  --input-bg-dark: #2c3440;
  --input-border-light: #acacac;
  --input-border-dark: #707c8a;
  --input-text-color-light: #535353;
  --input-text-color-dark: #ffffff;
  --input-placeholder-color-light: #898989;
  --input-placeholder-color-dark: #a3adbc;
  --input-disabled-bg-light: #f0f0f0;
  --input-disabled-bg-dark: #3c3c3c;
  --input-disabled-text-color-light: #a0a0a0;
  --input-disabled-text-color-dark: #777777;
  --input-border-radius: 0.5rem;
  --input-height: 2.5rem;
  --input-padding: 0.125rem 1rem 0.125rem 0.9375rem;
  --content-bg-highlight-light: #f6fcff;
  --content-bg-highlight-dark: #2c3440;
  --box-shadow-spread-value: 15px;
  --border-dashed-blue: #40799d;
  --radio-btn-border-color-light: #40799d;
  --radio-btn-border-color-dark: #4d7d9a;
  --radio-btn-bg-color-light: var(--color-primary);
  --radio-btn-bg-color-dark: #85b4d2;
  --light-blue-light: #f6fcff;

  /* Button Colors */
  /* Primary */
  --button-primary-bg-light: #f5fbff;
  --button-primary-bg-dark: #44516487;
  --button-primary-text-light: #2a475c;
  --button-primary-text-dark: #f0f9ff;
  --button-primary-border-light: #2a475c;
  --button-primary-border-dark: #6c7f9f;
  --button-primary-hover-bg-light: #2a475c;
  --button-primary-hover-bg-dark: #3b6b94;
  --button-primary-hover-box-shadow-light: 0px 0px
    var(--box-shadow-spread-value) rgb(22 47 65 / 61%);
  --button-primary-hover-box-shadow-dark: 0px 0px var(--box-shadow-spread-value)
    rgb(36 23 23 / 38%);
  --button-primary-hover-border-light: #ffffff;
  --button-primary-hover-border-dark: #566988;

  /* Secondary */
  --button-secondary-bg-light: #f0f0f0;
  --button-secondary-bg-dark: #3c3c3c;
  --button-secondary-text-light: #535353;
  --button-secondary-text-dark: #ffffff;
  --button-secondary-border-light: #acacac;
  --button-secondary-border-dark: #707c8a;
  --button-secondary-hover-bg-light: #e0e0e0;
  --button-secondary-hover-bg-dark: #595959;
  --button-secondary-hover-box-shadow-light: 0px 0px
    var(--box-shadow-spread-value) rgba(42, 71, 92, 0.2);
  --button-secondary-hover-box-shadow-dark: 0px 0px
    var(--box-shadow-spread-value) rgba(42, 71, 92, 0.2);
  --button-secondary-hover-border-light: #acacac;
  --button-secondary-hover-border-dark: #707c8a;

  /* Light */
  --button-light-bg-light: #ffffff;
  --button-light-bg-dark: #212730;
  --button-light-text-light: #2a475c;
  --button-light-text-dark: #a7c1d3;
  --button-light-border-light: #2a475c;
  --button-light-border-dark: #65737f;
  --button-light-hover-bg-light: #f8fcff;
  --button-light-hover-bg-dark: #384251;
  --button-light-hover-text-light: #2a475c;
  --button-light-hover-text-dark: #a7c1d3;
  --button-light-hover-box-shadow-light: 0px 0px var(--box-shadow-spread-value)
    rgb(42 71 92 / 33%);
  --button-light-hover-box-shadow-dark: 0px 0px var(--box-shadow-spread-value)
    rgb(255 255 255 / 38%);
  --button-light-hover-border-light: #ffffff;
  --button-light-hover-border-dark: #5784ab;

  /* Success */
  --button-success-bg-light: #f8fff8;
  --button-success-bg-dark: #213921;
  --button-success-text-light: #379c2f;
  --button-success-text-dark: #5dc555;
  --button-success-border-light: #379c2f;
  --button-success-border-dark: #53c14a;
  --button-success-hover-bg-light: #379c2f;
  --button-success-hover-bg-dark: #379c2f;
  --button-success-hover-box-shadow-light: 0px 0px
    var(--box-shadow-spread-value) #60b35a;
  --button-success-hover-box-shadow-dark: 0px 0px var(--box-shadow-spread-value)
    rgba(42, 71, 92, 0.2);
  --button-success-hover-border-light: #ffffff;
  --button-success-hover-border-dark: #424b52;

  /* Reject */
  --button-reject-bg-light: #fffafa;
  --button-reject-bg-dark: #4b3333;
  --button-reject-text-light: #ff3939;
  --button-reject-text-dark: #ff3939;
  --button-reject-border-light: #ff3939;
  --button-reject-border-dark: #ff3939;
  --button-reject-hover-bg-light: #ff3939;
  --button-reject-hover-bg-dark: #ff3939;
  --button-reject-hover-box-shadow-light: 0px 0px var(--box-shadow-spread-value)
    #ff3939;
  --button-reject-hover-box-shadow-dark: 0px 0px var(--box-shadow-spread-value)
    rgba(42, 71, 92, 0.2);
  --button-reject-hover-border-light: #ffffff;
  --button-reject-hover-border-dark: #ff3939;

  /* Button Colors */
  --logout-item-bg-light: #ffeded;
  --logout-item-bg-dark: #4b3333;
  --logout-svg-color-light: #ff3939;
  --logout-svg-color-dark: #ff3636;
  --button-group-bg-light: #e2f4ff;
  --button-group-bg-dark: #303d51;
  --button-group-selected-bg-light: #ffffff;
  --button-group-selected-bg-dark: #c9d4e6;
  --button-group-selected-text-light: #000000;
  --button-group-selected-text-dark: #04090d;
  --button-group-text-light: #2a475c;
  --button-group-text-dark: #d3edff;
  --button-group-box-shadow-light: 0px 1px 2px 0px rgba(97, 97, 97, 0.2) inset,
    0px 2px 4px 0px rgba(97, 97, 97, 0.2) inset;
  --button-group-box-shadow-dark: 0px 1px 2px 0px rgb(107 107 107 / 35%) inset,
    0px 2px 4px 0px rgb(107 107 107 / 0%) inset;
  --button-group-selected-box-shadow-light: 0px 1px 2px 0px
      rgba(15, 86, 179, 0.2),
    0px 2px 4px 0px rgba(15, 86, 179, 0.2);
  --button-group-selected-box-shadow-dark: 0px 1px 2px 0px
      rgba(15, 86, 179, 0.2),
    0px 2px 4px 0px rgba(15, 86, 179, 0.2);
  --tab-box-shadow-light: -2px 2px 10px 6px rgb(97 97 97 / 36%);
  --tab-box-shadow-dark: 0px 1px 2px 0px rgb(107 107 107 / 35%);
  --active-tab-hover-bg-light: #9bc3dc;
  --active-tab-hover-bg-dark: #565f6d;
  --layer-background-light: rgba(0, 0, 0, 0.5);
  --layer-background-dark: rgb(0 0 0 / 45%);
  --sidebar-border-color-light: #c0e7ff;
  --sidebar-border-color-dark: #4b5c74;
  --checkbox-bg-light: #ffffff;
  --checkbox-bg-dark: #2c3440;
  --checkbox-checked-bg-light: #295070;
  --checkbox-checked-bg-dark: #123950;
  --checkbox-tick-color-light: #ffffff;
  --checkbox-tick-color-dark: #ffffff;
  --checkbox-border-light: #acacac;
  --checkbox-border-dark: #707c8a;
  --border-color-1-light: #e0e0e0;
  --border-color-1-dark: #7c7979;
  --timeline-sb-bg-light: #fafdff;
  --timeline-sb-bg-dark: #2c3440;
  --th-hover-text-color-light: #1b2f3d;
  --th-hover-text-color-dark: #9fb7ca;
  --selected-input-border-color-light: #104a6f;
  --selected-input-border-color-dark: #aec1e2;

  /* wizard */
  --wizard-bg-light: #ffffff;
  --wizard-bg-dark: #ffffff;
  --wizard-past-border-light: #2bff2b;
  --wizard-past-border-dark: #2bff2b;
  --wizard-active-border-light: #ffb200;
  --wizard-active-border-dark: #ffb200;
  --wizard-reject-border-light: #ff3939;
  --wizard-reject-border-dark: #ff3939;
  --wizard-line-color-neutral-light: #eaeaea;
  --wizard-line-color-neutral-dark: #3c3c3c;
  --wizard-line-color-active-light: #2bff2b;
  --wizard-line-color-active-dark: #2bff2b;
  --wizard-bg-dark: #757575;
  --wizard-past-border-light: #2bff2b;
  --wizard-past-border-dark: #2bff2b;
  --wizard-active-border-light: #ffb200;
  --wizard-active-border-dark: #ffb200;
  --wizard-line-color-neutral-light: #eaeaea;
  --wizard-line-color-neutral-dark: #3c3c3c;
  --wizard-line-color-active-light: #2bff2b;
  --wizard-line-color-active-dark: #2bff2b;
  --wizard-past-border-light: #2bff2b;
  --wizard-past-border-dark: #2bff2b;
  --wizard-line-color-neutral-light: #e2e2e2;
  --wizard-line-color-neutral-dark: #3c3c3c;
  --wizard-line-color-active-light: #2bff2b;
  --wizard-line-color-active-dark: #2bff2b;
  /* wizard */
  --confirmation-svg-rect-1-light: #d1fadf;
  --confirmation-svg-rect-1-dark: #346d47;
  --confirmation-svg-rect-2-light: #ecfdf3;
  --confirmation-svg-rect-2-dark: #68c891d6;
  --confirmation-svg-path-light: #039855;
  --confirmation-svg-path-dark: #1a593d;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: var(--content-size);
}

body {
  scroll-behavior: smooth;
  font-size: var(--content-size);
  --content-background: var(--white);
  --tooltip-background: var(--tooltip-background-light);
  --theme-background: var(--color-primary);
  --sidemenu-text: var(--white);
  --hover-background: var(--hover-menu-bg-light);
  --logo-seperator: var(--logo-seperator-color-light);
  --content-color: var(--black);
  --content-inverted-color: var(--white);
  --theme-box-shadow: var(--box-shadow-light);
  --active-sidemenu-border-color: var(--active-sidemenu-border-color-light);
  --active-menu-bg: var(--active-menu-bg-light);
  --screen-background: #f9fdfe;
  --toggle-switch-background: var(--white);
  --theme-grey: var(--grey-light);
  --table-header-background: var(--table-header-background-light);
  --table-odd-row-background: var(--table-odd-row-background-light);
  --table-even-row-background: var(--table-even-row-background-light);
  --table-data-color: var(--table-data-color-light);
  --scrollbar-track-bg: var(--scrollbar-track-bg-light);
  --scrollbar-thumb-bg: var(--scrollbar-thumb-bg-light);
  --scrollbar-thumb-hover-bg: var(--scrollbar-thumb-hover-bg-light);
  --border-color: var(--border-color-light);
  --pagination-active-button-border: var(--active-sidemenu-border-color-light);
  --table-loading-table-bg: var(--table-loading-table-bg-light);
  --loading-bg-1: var(--loading-bg-light-1);
  --loading-bg-2: var(--loading-bg-light-2);
  --content-border: var(--content-border-light);
  --theme-text: var(--grey-light-1);
  --theme-icon-color: var(--theme-icon-color-light);
  --theme-primary-text: var(--theme-primary-text-light);
  --doc-attach-border-color: var(--doc-attach-border-color-light);
  --doc-attach-border-bg: var(--doc-attach-border-bg-light);
  --active-tab-bg: var(--active-tab-bg-light);
  --doc-image-bg: var(--doc-image-bg-light);
  --input-bg: var(--input-bg-light);
  --input-border: var(--input-border-light);
  --input-text-color: var(--input-text-color-light);
  --input-placeholder-color: var(--input-placeholder-color-light);
  --input-disabled-bg: var(--input-disabled-bg-light);
  --input-disabled-text-color: var(--input-disabled-text-color-light);
  --content-bg-highlight: var(--content-bg-highlight-light);
  --button-primary-bg: var(--button-primary-bg-light);
  --button-primary-text: var(--button-primary-text-light);
  --button-primary-border: var(--button-primary-border-light);
  --button-primary-hover-bg: var(--button-primary-hover-bg-light);
  --button-secondary-bg: var(--button-secondary-bg-light);
  --button-secondary-text: var(--button-secondary-text-light);
  --button-secondary-border: var(--button-secondary-border-light);
  --button-secondary-hover-bg: var(--button-secondary-hover-bg-light);
  --button-success-bg: var(--button-success-bg-light);
  --button-success-text: var(--button-success-text-light);
  --button-success-border: var(--button-success-border-light);
  --button-success-hover-bg: var(--button-success-hover-bg-light);
  --button-reject-bg: var(--button-reject-bg-light);
  --button-reject-text: var(--button-reject-text-light);
  --button-reject-border: var(--button-reject-border-light);
  --button-reject-hover-bg: var(--button-reject-hover-bg-light);
  --logout-item-bg: var(--logout-item-bg-light);
  --logout-svg-color: var(--logout-svg-color-light);
  --button-light-bg: var(--button-light-bg-light);
  --button-light-text: var(--button-light-text-light);
  --button-light-border: var(--button-light-border-light);
  --button-light-hover-bg: var(--button-light-hover-bg-light);
  --button-light-hover-text: var(--button-light-hover-text-light);
  --button-light-hover-box-shadow: var(--button-light-hover-box-shadow-light);
  --button-light-hover-border: var(--button-light-hover-border-light);
  --button-secondary-hover-box-shadow: var(
    --button-secondary-hover-box-shadow-light
  );
  --button-secondary-hover-border: var(--button-secondary-hover-border-light);
  --button-primary-hover-box-shadow: var(
    --button-primary-hover-box-shadow-light
  );
  --button-primary-hover-border: var(--button-primary-hover-border-light);
  --button-success-hover-box-shadow: var(
    --button-success-hover-box-shadow-light
  );
  --button-success-hover-border: var(--button-success-hover-border-light);
  --button-reject-hover-box-shadow: var(--button-reject-hover-box-shadow-light);
  --button-reject-hover-border: var(--button-reject-hover-border-light);
  --radio-btn-border-color: var(--radio-btn-border-color-light);
  --radio-btn-bg-color: var(--radio-btn-bg-color-light);
  --light-blue: var(--light-blue-light);
  --light-blue: var(--light-blue);

  /* Button Group Colors */
  --button-group-bg: var(--button-group-bg-light);
  --button-group-selected-bg: var(--button-group-selected-bg-light);
  --button-group-selected-text: var(--button-group-selected-text-light);
  --button-group-text: var(--button-group-text-light);
  --button-group-box-shadow: var(--button-group-box-shadow-light);
  --button-group-selected-box-shadow: var(
    --button-group-selected-box-shadow-light
  );
  --tab-box-shadow: var(--tab-box-shadow-light);
  --active-tab-hover-bg: var(--active-tab-hover-bg-light);
  --layer-background: var(--layer-background-light);
  --primary-text: var(--color-primary);
  --sidebar-border-color: var(--sidebar-border-color-light);
  --checkbox-bg: var(--checkbox-bg-light);
  --checkbox-checked-bg: var(--checkbox-checked-bg-light);
  --checkbox-tick-color: var(--checkbox-tick-color-light);
  --checkbox-border: var(--checkbox-border-light);
  --border-color-1: var(--border-color-1-light);
  --timeline-sb-bg: var(--timeline-sb-bg-light);
  --tab-bg: var(--tab-bg-light);
  --th-hover-text-color: var(--th-hover-text-color-light);
  /* wizard */
  --wizard-bg: var(--wizard-bg-light);
  --wizard-past-border: var(--wizard-past-border-light);
  --wizard-active-border: var(--wizard-active-border-light);
  --wizard-reject-border: var(--wizard-reject-border-light);
  --wizard-line-color-neutral: var(--wizard-line-color-neutral-light);
  --wizard-line-color-active: var(--wizard-line-color-active-light);
  /* wizard */

  --confirmation-svg-rect-1: var(--confirmation-svg-rect-1-light);
  --confirmation-svg-rect-2: var(--confirmation-svg-rect-2-light);
  --confirmation-svg-path: var(--confirmation-svg-path-light);
  --selected-input-border-color: var(--selected-input-border-color-light);
}

body.dark {
  --theme-background: var(--dark-theme-background);
  --content-background: var(--dark-theme-background);
  --tooltip-background: var(--tooltip-background-dark);
  --content-color: var(--white);
  --screen-background: var(--screen-background-dark);
  --active-menu-bg: var(--active-menu-bg-dark);
  --theme-box-shadow: var(--box-shadow-dark);
  --active-sidemenu-border-color: var(--active-sidemenu-border-color-dark);
  --toggle-switch-background: var(--black);
  --theme-grey: var(--grey-dark);
  --table-header-background: var(--table-header-background-dark);
  --table-odd-row-background: var(--table-odd-row-background-dark);
  --table-even-row-background: var(--table-even-row-background-dark);
  --table-data-color: var(--table-data-color-dark);
  --scrollbar-track-bg: var(--scrollbar-track-bg-dark);
  --scrollbar-thumb-bg: var(--scrollbar-thumb-bg-dark);
  --scrollbar-thumb-hover-bg: var(--scrollbar-thumb-hover-bg-dark);
  --border-color: var(--border-color-dark);
  --pagination-active-button-border: var(--active-sidemenu-border-color-dark);
  --table-loading-table-bg: var(--table-loading-table-bg-dark);
  --loading-bg-1: var(--loading-bg-dark-1);
  --loading-bg-2: var(--loading-bg-dark-2);
  --content-border: var(--content-border-dark);
  --theme-text: var(--grey-dark-1);
  --theme-icon-color: var(--theme-icon-color-dark);
  --theme-primary-text: var(--theme-primary-text-dark);
  --doc-attach-border-color: var(--doc-attach-border-color-dark);
  --doc-attach-border-bg: var(--doc-attach-border-bg-dark);
  --active-tab-bg: var(--active-tab-bg-dark);
  --doc-image-bg: var(--doc-image-bg-dark);
  --input-bg: var(--input-bg-dark);
  --input-border: var(--input-border-dark);
  --input-text-color: var(--input-text-color-dark);
  --input-placeholder-color: var(--input-placeholder-color-dark);
  --input-disabled-bg: var(--input-disabled-bg-dark);
  --input-disabled-text-color: var(--input-disabled-text-color-dark);
  --content-bg-highlight: var(--content-bg-highlight-dark);
  --button-primary-bg: var(--button-primary-bg-dark);
  --button-primary-text: var(--button-primary-text-dark);
  --button-primary-border: var(--button-primary-border-dark);
  --button-primary-hover-bg: var(--button-primary-hover-bg-dark);
  --button-secondary-bg: var(--button-secondary-bg-dark);
  --button-secondary-text: var(--button-secondary-text-dark);
  --button-secondary-border: var(--button-secondary-border-dark);
  --button-secondary-hover-bg: var(--button-secondary-hover-bg-dark);
  --button-success-bg: var(--button-success-bg-dark);
  --button-success-text: var(--button-success-text-dark);
  --button-success-border: var(--button-success-border-dark);
  --button-success-hover-bg: var(--button-success-hover-bg-dark);
  --button-reject-bg: var(--button-reject-bg-dark);
  --button-reject-text: var(--button-reject-text-dark);
  --button-reject-border: var(--button-reject-border-dark);
  --button-reject-hover-bg: var(--button-reject-hover-bg-dark);
  --logout-item-bg: var(--logout-item-bg-dark);
  --logout-svg-color: var(--logout-svg-color-dark);
  --button-light-bg: var(--button-light-bg-dark);
  --button-light-text: var(--button-light-text-dark);
  --button-light-border: var(--button-light-border-dark);
  --button-light-hover-bg: var(--button-light-hover-bg-dark);
  --button-light-hover-text: var(--button-light-hover-text-dark);
  --button-light-hover-box-shadow: var(--button-light-hover-box-shadow-dark);
  --button-light-hover-border: var(--button-light-hover-border-dark);
  --button-secondary-hover-box-shadow: var(
    --button-secondary-hover-box-shadow-dark
  );
  --button-secondary-hover-border: var(--button-secondary-hover-border-dark);
  --button-primary-hover-box-shadow: var(
    --button-primary-hover-box-shadow-dark
  );
  --button-primary-hover-border: var(--button-primary-hover-border-dark);
  --button-success-hover-box-shadow: var(
    --button-success-hover-box-shadow-dark
  );
  --button-success-hover-border: var(--button-success-hover-border-dark);
  --button-reject-hover-box-shadow: var(--button-reject-hover-box-shadow-dark);
  --button-reject-hover-border: var(--button-reject-hover-border-dark);
  --radio-btn-bg-color: var(--radio-btn-bg-color-dark);
  --light-blue: #353f4d;

  /* Button Group Colors */
  --button-group-bg: var(--button-group-bg-dark);
  --button-group-selected-bg: var(--button-group-selected-bg-dark);
  --button-group-selected-text: var(--button-group-selected-text-dark);
  --button-group-text: var(--button-group-text-dark);
  --button-group-box-shadow: var(--button-group-box-shadow-dark);
  --button-group-selected-box-shadow: var(
    --button-group-selected-box-shadow-dark
  );
  --tab-box-shadow: var(--tab-box-shadow-dark);
  --active-tab-hover-bg: var(--active-tab-hover-bg-dark);
  --layer-background: var(--layer-background-dark);
  --primary-text: var(--white);
  --sidebar-border-color: var(--sidebar-border-color-dark);
  --checkbox-bg: var(--checkbox-bg-dark);
  --checkbox-checked-bg: var(--checkbox-checked-bg-dark);
  --checkbox-tick-color: var(--checkbox-tick-color-dark);
  --checkbox-border: var(--checkbox-border-dark);
  --border-color-1: var(--border-color-1-dark);
  --timeline-sb-bg: var(--timeline-sb-bg-dark);
  --tab-bg: var(--tab-bg-dark);
  --th-hover-text-color: var(--th-hover-text-color-dark);
  /* wizard */
  --wizard-bg: var(--wizard-bg-dark);
  --wizard-past-border: var(--wizard-past-border-dark);
  --wizard-active-border: var(--wizard-active-border-dark);
  --wizard-reject-border: var(--wizard-reject-border-dark);
  --wizard-line-color-neutral: var(--wizard-line-color-neutral-dark);
  --wizard-line-color-active: var(--wizard-line-color-active-dark);
  /* wizard */

  --confirmation-svg-rect-1: var(--confirmation-svg-rect-1-dark);
  --confirmation-svg-rect-2: var(--confirmation-svg-rect-2-dark);
  --confirmation-svg-path: var(--confirmation-svg-path-dark);
  --selected-input-border-color: var(--selected-input-border-color-dark);
}
