:root {
  --color-primary: #1c4362;
  --white: #ffffff;
  --black: #000000;
  --content-size: 16px;
  --active-menu-bg-light: #2d6286;
  --active-menu-bg-dark: #082238;
  --side-menu-size-expanded: 14.25rem;
  --side-menu-size-collapsed: 4.1875rem;
  --sidemenu-margin: 0.75rem;
  --sidemenu-items-padding: 0.1rem 0.75rem;
  --sidemenu-border-radius: 8px;
  --active-sidemenu-border-color-light: #5b95ba;
  --active-sidemenu-border-color-dark: #134e79;
  --sidemenu-items-min-height: 3rem;
  --hover-opacity: 1;
  --hover-brightness: brightness(0.9);
  --move-and-hide: move-and-hide 0s ease-out forwards;
  --move-and-show: move-and-show 0.3s ease-out forwards;
  --sidemenu-item-gap: 0.7rem;
  --transition: all 0.3s ease-out;
  --logo-seperator-color-light: #728492;
  --header-size: 4rem;
  --tooltip-background-light: #ffffff;
  --box-shadow-light: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  --box-shadow-dark: rgba(255, 255, 255, 0.2);
  --dark-theme-background: #222831;
  --screen-background-dark: #111418;
  --grey-light: #898989;
  --grey-dark: #8d96a3;
  --table-header-background-light: #40799d;
  --table-header-background-dark: #40799d;
  --table-odd-row-background-light: white;
  --table-odd-row-background-dark: white;
  --table-even-row-background-light: #fbfbfb;
  --table-even-row-background-dark: #fbfbfb;
  --table-data-color-light: #2a475c;
  --table-data-color-dark: #2a475c;
  --scrollbar-track-bg-light: white;
  --scrollbar-track-bg-dark: #222831;
  --scrollbar-thumb-bg-light: #cdcdcd;
  --scrollbar-thumb-bg-dark: #555;
  --scrollbar-thumb-hover-bg-light: #a0a0a0;
  --scrollbar-thumb-hover-bg-dark: #777;
  --border-color-light: #e0e0e0;
  --border-color-dark: #444;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: var(--content-size);
}

body {
  font-size: var(--content-size);
  --content-background: var(--white);
  --tooltip-background: var(--tooltip-background-light);
  --theme-background: var(--color-primary);
  --sidemenu-text: var(--white);
  --hover-background: var(--hover-menu-bg-light);
  --logo-seperator: var(--logo-seperator-color-light);
  --content-color: var(--black);
  --content-inverted-color: var(--white);
  --theme-box-shadow: var(--box-shadow-light);
  --active-sidemenu-border-color: var(--active-sidemenu-border-color-light);
  --active-menu-bg: var(--active-menu-bg-light);
  --screen-background: var(--white);
  --toggle-switch-background: var(--white);
  --theme-grey: var(--grey-light);
  --table-header-background: var(--table-header-background-light);
  --table-odd-row-background: var(--table-odd-row-background-light);
  --table-even-row-background: var(--table-even-row-background-light);
  --table-data-color: var(--table-data-color-light);
  --scrollbar-track-bg: var(--scrollbar-track-bg-light);
  --scrollbar-thumb-bg: var(--scrollbar-thumb-bg-light);
  --scrollbar-thumb-hover-bg: var(--scrollbar-thumb-hover-bg-light);
  --border-color: var(--border-color-light);
}

body.dark {
  --theme-background: var(--dark-theme-background);
  --content-background: var(--dark-theme-background);
  --content-color: var(--white);
  --screen-background: var(--screen-background-dark);
  --active-menu-bg: var(--active-menu-bg-dark);
  --active-sidemenu-border-color: var(--active-sidemenu-border-color-dark);
  --toggle-switch-background: var(--black);
  --theme-grey: var(--grey-dark);
  --table-header-background: var(--table-header-background-dark);
  --table-odd-row-background: var(--table-odd-row-background-dark);
  --table-even-row-background: var(--table-even-row-background-dark);
  --table-data-color: var(--table-data-color-dark);
  --scrollbar-track-bg: var(--scrollbar-track-bg-dark);
  --scrollbar-thumb-bg: var(--scrollbar-thumb-bg-dark);
  --scrollbar-thumb-hover-bg: var(--scrollbar-thumb-hover-bg-dark);
  --border-color: var(--border-color-dark);
}
